# Should already in server config but whatever
<Files .htaccess>
Order allow,deny
Deny from all
</Files>
Options -Indexes
RedirectMatch 404 /\.git

RewriteEngine on
RewriteRule ^assets/tiles/2d/([0-9]+)/([0-9]+)/([0-9]+)\.png$ /map2/tile.php?x=$2&y=$3&z=$1