html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	overflow: hidden;
}
#mcmap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.sidebar {
	z-index: 1999;
	top: 60px;
	position: absolute;
	font-size: 16px;
	color: #f0f0f0;
	background: #3339;
	text-shadow: 1px 1px 2px #00002A;
	padding: 4px 4px 4px 8px;
	overflow: scroll;
	max-height: calc(100vh - 80px);
}

#right_sidebar {
	right: 0;
	width: 240px;
	display: none;
}

.upgrade_select {
	color: black;
}

#terr_box {
	height: calc(50vh - 30px);
	overflow: hidden;
}
#terr_counts {
	height: calc(50vh - 90px);
	overflow: scroll;
}
#sidebar_settings {
	padding-top: 16px;
}
.leaflet-container .coordbox {
	box-shadow: none;
	font-size: 11px;
	background: rgba(255, 255, 255, 0.7);
	margin: 0;
	padding: 0 5px;
	color: #333;
}
img.compass.leaflet-control {
	height: 48px;
	width: 48px;
	image-rendering: pixelated;
}
.worldcontrol.leaflet-control {
	display: none;
}
span.dot {
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 12px;
	position: relative;
	top: 2.5px;
	margin: 0 4px;
}
span.dot._hidden {
	background-color: transparent !important;
}
p.terr_row {
	margin: auto;
}
.terr-details {
	background-color: transparent;
	border: none;
	font-weight: bold;
	box-shadow: none;
	color: white;
	text-shadow: 1px 1px black;
	font-size: 1.1em;
	line-height: 1.2em;
	text-align: center;
}
@media screen and (max-width: 400px) {
	#terr_box {
		margin: auto;
		font-size: 14px;
	}
	span.dot {
		width: 14px;
		height: 14px;
	}
}